<div
    v-if="config !== false"
    class="rrte-menubar"
    role="toolbar"
    aria-label="富文本工具栏"
    data-testid="rich-text-editor-toolbar"
  >
    <!-- Basic Formatting -->
    <div class="rrte-menubar__group">
      <ToolbarButton
        v-if="is('bold')"
        :active="editor.isActive('bold')"
        title="加粗"
        @click="edChain().toggleBold().run()"
      >
        <Bold :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('italic')"
        :active="editor.isActive('italic')"
        title="斜体"
        @click="edChain().toggleItalic().run()"
      >
        <Italic :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('underline')"
        :active="editor.isActive('underline')"
        title="下划线"
        @click="edChain().toggleUnderline().run()"
      >
        <Underline :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('strike')"
        :active="editor.isActive('strike')"
        title="删除线"
        @click="edChain().toggleStrike().run()"
      >
        <Strikethrough :size="16" />
      </ToolbarButton>
      <ToolbarButton
        :active="editor.isActive('code')"
        title="行内代码"
        @click="edChain().toggleCode().run()"
      >
        <Code :size="16" />
      </ToolbarButton>

      <!-- Highlight Dropdown -->
      <div v-if="is('highlight')" class="rrte-menubar__dropdown-wrap">
        <ToolbarButton
          :active="editor.isActive('highlight')"
          title="高亮"
          @click.stop="toggleMenu('highlight')"
        >
          <Highlighter :size="16" />
        </ToolbarButton>
        <div v-if="showHighlightMenu" class="rrte-menubar__dropdown rrte-menubar__dropdown--colors">
          <div
            v-for="color in HIGHLIGHT_COLORS"
            :key="color"
            class="rrte-color-swatch"
            :style="{ backgroundColor: color }"
            @click="setHighlight(color)"
          />
          <button class="rrte-color-clear" @click="clearHighlight" title="清除高亮">
            <X :size="12" />
          </button>
        </div>
      </div>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- Headings -->
    <div class="rrte-menubar__group">
      <ToolbarButton
        v-if="is('heading')"
        :active="editor.isActive('heading', { level: 1 })"
        title="标题 1"
        @click="edChain().toggleHeading({ level: 1 }).run()"
      >
        <Heading1 :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('heading')"
        :active="editor.isActive('heading', { level: 2 })"
        title="标题 2"
        @click="edChain().toggleHeading({ level: 2 }).run()"
      >
        <Heading2 :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('heading')"
        :active="editor.isActive('heading', { level: 3 })"
        title="标题 3"
        @click="edChain().toggleHeading({ level: 3 }).run()"
      >
        <Heading3 :size="16" />
      </ToolbarButton>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- Lists -->
    <div class="rrte-menubar__group">
      <ToolbarButton
        v-if="is('bulletList')"
        :active="editor.isActive('bulletList')"
        title="无序列表"
        @click="edChain().toggleBulletList().run()"
      >
        <List :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('orderedList')"
        :active="editor.isActive('orderedList')"
        title="有序列表"
        @click="edChain().toggleOrderedList().run()"
      >
        <ListOrdered :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('taskList')"
        :active="editor.isActive('taskList')"
        title="任务列表"
        @click="edChain().toggleTaskList().run()"
      >
        <ListChecks :size="16" />
      </ToolbarButton>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- Block Elements -->
    <div class="rrte-menubar__group">
      <ToolbarButton
        v-if="is('blockquote')"
        :active="editor.isActive('blockquote')"
        title="引用"
        @click="edChain().toggleBlockquote().run()"
      >
        <Quote :size="16" />
      </ToolbarButton>

      <!-- Code Block Dropdown -->
      <div v-if="is('codeBlock')" class="rrte-menubar__dropdown-wrap">
        <ToolbarButton
          :active="editor.isActive('codeBlock')"
          title="代码块"
          @click.stop="toggleMenu('codeBlock')"
        >
          <Braces :size="16" />
        </ToolbarButton>
        <div v-if="showCodeBlockMenu" class="rrte-menubar__dropdown">
          <button
            v-for="lang in CODE_LANGUAGES"
            :key="lang.value"
            class="rrte-menubar__dropdown-item"
            @click="insertCodeBlock(lang.value)"
          >
            {{ lang.label }}
          </button>
          <div class="rrte-menubar__dropdown-sep" />
          <button class="rrte-menubar__dropdown-item" @click="insertCodeBlock(null)">
            普通代码块
          </button>
        </div>
      </div>

      <ToolbarButton
        v-if="is('horizontalRule')"
        title="分割线"
        @click="edChain().setHorizontalRule().run()"
      >
        <Minus :size="16" />
      </ToolbarButton>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- Table Dropdown -->
    <div v-if="is('table')" class="rrte-menubar__dropdown-wrap">
      <ToolbarButton
        :active="editor.isActive('table')"
        title="表格"
        @click.stop="toggleMenu('table')"
      >
        <Table :size="16" />
      </ToolbarButton>
      <div v-if="showTableMenu" class="rrte-menubar__dropdown">
        <button class="rrte-menubar__dropdown-item" @click="insertTable">插入表格 (3×3)</button>
        <template v-if="editor.isActive('table')">
          <div class="rrte-menubar__dropdown-sep" />
          <button class="rrte-menubar__dropdown-item" @click="addColumnBefore">前插列</button>
          <button class="rrte-menubar__dropdown-item" @click="addColumnAfter">后插列</button>
          <button
            class="rrte-menubar__dropdown-item rrte-menubar__dropdown-item--danger"
            @click="deleteColumn"
          >
            删除列
          </button>
          <div class="rrte-menubar__dropdown-sep" />
          <button class="rrte-menubar__dropdown-item" @click="addRowBefore">前插行</button>
          <button class="rrte-menubar__dropdown-item" @click="addRowAfter">后插行</button>
          <button
            class="rrte-menubar__dropdown-item rrte-menubar__dropdown-item--danger"
            @click="deleteRow"
          >
            删除行
          </button>
          <div class="rrte-menubar__dropdown-sep" />
          <button class="rrte-menubar__dropdown-item" @click="mergeCells">合并单元格</button>
          <button class="rrte-menubar__dropdown-item" @click="splitCell">拆分单元格</button>
          <button class="rrte-menubar__dropdown-item" @click="toggleHeaderRow">切换表头</button>
          <div class="rrte-menubar__dropdown-sep" />
          <button
            class="rrte-menubar__dropdown-item rrte-menubar__dropdown-item--danger"
            @click="deleteTable"
          >
            删除表格
          </button>
        </template>
      </div>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- Insert Objects -->
    <div class="rrte-menubar__group">
      <!-- Link -->
      <div v-if="is('link')" class="rrte-menubar__dropdown-wrap">
        <ToolbarButton
          :active="editor.isActive('link')"
          title="链接"
          @click.stop="toggleMenu('link')"
        >
          <Link :size="16" />
        </ToolbarButton>
        <div v-if="showLinkInput" class="rrte-menubar__dropdown rrte-menubar__dropdown--link">
          <input
            v-model="linkUrl"
            class="rrte-link-input"
            placeholder="输入 URL..."
            @keyup.enter="confirmLink"
          />
          <button class="rrte-link-confirm" @click="confirmLink">确定</button>
          <button v-if="editor.isActive('link')" class="rrte-link-remove" @click="removeLink">
            <X :size="12" /> 移除
          </button>
        </div>
      </div>

      <ToolbarButton v-if="is('image') && onImageUpload" title="插入图片" @click="onImageUpload">
        <Image :size="16" />
      </ToolbarButton>

      <ToolbarButton v-if="onFileUpload" title="插入附件" @click="onFileUpload">
        <Paperclip :size="16" />
      </ToolbarButton>

      <ToolbarButton title="插入 Mermaid 图" @click="insertMermaid">
        <GitBranch :size="16" />
      </ToolbarButton>

      <ToolbarButton title="插入表格块" @click="insertGrid">
        <LayoutGrid :size="16" />
      </ToolbarButton>

      <ToolbarButton title="插入目录" @click="insertToc">
        <TableOfContents :size="16" />
      </ToolbarButton>
    </div>

    <span class="rrte-menubar__divider" />

    <!-- History -->
    <div class="rrte-menubar__group">
      <ToolbarButton
        v-if="is('undo')"
        :disabled="!editor.can().undo()"
        title="撤销"
        @click="edChain().undo().run()"
      >
        <Undo2 :size="16" />
      </ToolbarButton>
      <ToolbarButton
        v-if="is('redo')"
        :disabled="!editor.can().redo()"
        title="重做"
        @click="edChain().redo().run()"
      >
        <Redo2 :size="16" />
      </ToolbarButton>
    </div>
  </div>
